.elementor-kit-5 {
  --e-global-color-primary: #763636;
  --e-global-color-secondary: #937441;
  --e-global-color-text: #171717;
  --e-global-color-accent: #dcd3c7;
  --e-global-color-e777cd9: #ffffff;
  --e-global-color-e632858: #ffffff00;
  --e-global-color-e9c5ff0: #f2efe5;
  --e-global-color-d59e8a8: #f7f7f5;
  --e-global-color-9947692: #ffffffd1;
  --e-global-color-7e293d1: #23211c4d;
  --e-global-color-2e1214a: #6f634e;
  --e-global-typography-primary-font-family: "Fraunces";
  --e-global-typography-primary-font-size: 98px;
  --e-global-typography-primary-font-weight: 400;
  --e-global-typography-primary-line-height: 1.1em;
  --e-global-typography-primary-letter-spacing: -0.01em;
  --e-global-typography-secondary-font-family: "Fraunces";
  --e-global-typography-secondary-font-size: 24px;
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-secondary-line-height: 1.5em;
  --e-global-typography-secondary-letter-spacing: 0em;
  --e-global-typography-text-font-family: "Heebo";
  --e-global-typography-text-font-size: 17px;
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-text-line-height: 1.65em;
  --e-global-typography-text-letter-spacing: 0.01em;
  --e-global-typography-accent-font-family: "Heebo";
  --e-global-typography-accent-font-size: 16px;
  --e-global-typography-accent-font-weight: 400;
  --e-global-typography-accent-text-transform: uppercase;
  --e-global-typography-accent-line-height: 1.5em;
  --e-global-typography-accent-letter-spacing: 0.15px;
  --e-global-typography-87350ce-font-family: "Heebo";
  --e-global-typography-87350ce-font-size: 15px;
  --e-global-typography-87350ce-font-weight: 500;
  --e-global-typography-87350ce-text-transform: uppercase;
  --e-global-typography-87350ce-line-height: 1em;
  --e-global-typography-87350ce-letter-spacing: 0em;
  --e-global-typography-784143b-font-family: "Heebo";
  --e-global-typography-784143b-font-size: 15px;
  --e-global-typography-784143b-font-weight: 500;
  --e-global-typography-784143b-text-transform: uppercase;
  --e-global-typography-784143b-letter-spacing: 0em;
  --e-global-typography-8352cd5-font-family: "Fraunces";
  --e-global-typography-8352cd5-font-size: 84px;
  --e-global-typography-8352cd5-font-weight: 400;
  --e-global-typography-8352cd5-line-height: 1.1em;
  --e-global-typography-8352cd5-letter-spacing: -0.025em;
  --e-global-typography-4353ebc-font-family: "Fraunces";
  --e-global-typography-4353ebc-font-size: 64px;
  --e-global-typography-4353ebc-font-weight: 400;
  --e-global-typography-4353ebc-line-height: 1.1em;
  --e-global-typography-4353ebc-letter-spacing: -0.025em;
  --e-global-typography-d4f69a8-font-family: "Fraunces";
  --e-global-typography-d4f69a8-font-size: 48px;
  --e-global-typography-d4f69a8-font-weight: 400;
  --e-global-typography-d4f69a8-line-height: 1.2em;
  --e-global-typography-d4f69a8-letter-spacing: -0.03em;
  --e-global-typography-326df42-font-family: "Fraunces";
  --e-global-typography-326df42-font-size: 38px;
  --e-global-typography-326df42-font-weight: 400;
  --e-global-typography-326df42-line-height: 1.25em;
  --e-global-typography-326df42-letter-spacing: -0.03em;
  --e-global-typography-49ea2e1-font-family: "Fraunces";
  --e-global-typography-49ea2e1-font-size: 28px;
  --e-global-typography-49ea2e1-font-weight: 400;
  --e-global-typography-49ea2e1-line-height: 1.25em;
  --e-global-typography-49ea2e1-letter-spacing: -0.025em;
  --e-global-typography-6524214-font-family: "Heebo";
  --e-global-typography-6524214-font-size: 18px;
  --e-global-typography-6524214-font-weight: 400;
  --e-global-typography-6524214-text-transform: uppercase;
  --e-global-typography-6524214-line-height: 1.5em;
  --e-global-typography-6524214-letter-spacing: 0.15px;
  --e-global-typography-aa06a68-font-family: "Heebo";
  --e-global-typography-aa06a68-font-size: 16px;
  --e-global-typography-aa06a68-font-weight: 400;
  --e-global-typography-aa06a68-line-height: 1.65em;
  --e-global-typography-aa06a68-letter-spacing: 0.01em;
  --e-global-typography-144b264-font-family: "Times New Roman";
  --e-global-typography-144b264-font-size: 28px;
  --e-global-typography-c7139a9-font-family: "Heebo";
  --e-global-typography-c7139a9-font-size: 16px;
  --e-global-typography-c7139a9-font-weight: 400;
  --e-global-typography-c7139a9-letter-spacing: 0.01em;
  --e-global-typography-6bb33ac-font-family: "Heebo";
  --e-global-typography-6bb33ac-font-size: 15px;
  --e-global-typography-6bb33ac-font-weight: 400;
  --e-global-typography-6bb33ac-line-height: 1.65em;
  --e-global-typography-6bb33ac-letter-spacing: 0.01em;
  background-color: var(--e-global-color-e777cd9);
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
  letter-spacing: var(--e-global-typography-text-letter-spacing);
}
.elementor-kit-5 button,
.elementor-kit-5 input[type="button"],
.elementor-kit-5 input[type="submit"],
.elementor-kit-5 .elementor-button {
  background-color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-87350ce-font-family), Sans-serif;
  font-size: var(--e-global-typography-87350ce-font-size);
  font-weight: var(--e-global-typography-87350ce-font-weight);
  text-transform: var(--e-global-typography-87350ce-text-transform);
  line-height: var(--e-global-typography-87350ce-line-height);
  letter-spacing: var(--e-global-typography-87350ce-letter-spacing);
  word-spacing: var(--e-global-typography-87350ce-word-spacing);
  color: var(--e-global-color-e777cd9);
  border-style: none;
  border-radius: 40px 40px 40px 40px;
  padding: 20px 40px 20px 40px;
}
.elementor-kit-5 button:hover,
.elementor-kit-5 button:focus,
.elementor-kit-5 input[type="button"]:hover,
.elementor-kit-5 input[type="button"]:focus,
.elementor-kit-5 input[type="submit"]:hover,
.elementor-kit-5 input[type="submit"]:focus,
.elementor-kit-5 .elementor-button:hover,
.elementor-kit-5 .elementor-button:focus {
  background-color: var(--e-global-color-secondary);
  color: var(--e-global-color-e777cd9);
  border-style: none;
}
.elementor-kit-5 p {
  margin-bottom: 18px;
}
.elementor-kit-5 a {
  color: var(--e-global-color-primary);
}
.elementor-kit-5 a:hover {
  color: var(--e-global-color-secondary);
}
.elementor-kit-5 h1 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-8352cd5-font-family), Sans-serif;
  font-size: var(--e-global-typography-8352cd5-font-size);
  font-weight: var(--e-global-typography-8352cd5-font-weight);
  line-height: var(--e-global-typography-8352cd5-line-height);
  letter-spacing: var(--e-global-typography-8352cd5-letter-spacing);
  word-spacing: var(--e-global-typography-8352cd5-word-spacing);
}
.elementor-kit-5 h2 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-4353ebc-font-family), Sans-serif;
  font-size: var(--e-global-typography-4353ebc-font-size);
  font-weight: var(--e-global-typography-4353ebc-font-weight);
  line-height: var(--e-global-typography-4353ebc-line-height);
  letter-spacing: var(--e-global-typography-4353ebc-letter-spacing);
  word-spacing: var(--e-global-typography-4353ebc-word-spacing);
}
.elementor-kit-5 h3 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-d4f69a8-font-family), Sans-serif;
  font-size: var(--e-global-typography-d4f69a8-font-size);
  font-weight: var(--e-global-typography-d4f69a8-font-weight);
  line-height: var(--e-global-typography-d4f69a8-line-height);
  letter-spacing: var(--e-global-typography-d4f69a8-letter-spacing);
  word-spacing: var(--e-global-typography-d4f69a8-word-spacing);
}
.elementor-kit-5 h4 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-326df42-font-family), Sans-serif;
  font-size: var(--e-global-typography-326df42-font-size);
  font-weight: var(--e-global-typography-326df42-font-weight);
  line-height: var(--e-global-typography-326df42-line-height);
  letter-spacing: var(--e-global-typography-326df42-letter-spacing);
  word-spacing: var(--e-global-typography-326df42-word-spacing);
}
.elementor-kit-5 h5 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-49ea2e1-font-family), Sans-serif;
  font-size: var(--e-global-typography-49ea2e1-font-size);
  font-weight: var(--e-global-typography-49ea2e1-font-weight);
  line-height: var(--e-global-typography-49ea2e1-line-height);
  letter-spacing: var(--e-global-typography-49ea2e1-letter-spacing);
  word-spacing: var(--e-global-typography-49ea2e1-word-spacing);
}
.elementor-kit-5 h6 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-6524214-font-family), Sans-serif;
  font-size: var(--e-global-typography-6524214-font-size);
  font-weight: var(--e-global-typography-6524214-font-weight);
  text-transform: var(--e-global-typography-6524214-text-transform);
  line-height: var(--e-global-typography-6524214-line-height);
  letter-spacing: var(--e-global-typography-6524214-letter-spacing);
  word-spacing: var(--e-global-typography-6524214-word-spacing);
}
.elementor-kit-5 img {
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
}
.elementor-kit-5 img:hover {
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
}
.elementor-kit-5 label {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  line-height: var(--e-global-typography-accent-line-height);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
}
.elementor-kit-5 input:not([type="button"]):not([type="submit"]),
.elementor-kit-5 textarea,
.elementor-kit-5 .elementor-field-textual {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
  letter-spacing: var(--e-global-typography-text-letter-spacing);
  color: var(--e-global-color-text);
  background-color: var(--e-global-color-e777cd9);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-d59e8a8);
  border-radius: 0px 0px 0px 0px;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1240px;
}
.e-con {
  --container-max-width: 1240px;
}
.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
}
h1.entry-title {
  display: var(--page-title-display);
}
.site-header .site-branding {
  flex-direction: column;
  align-items: stretch;
}
.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}
.site-footer .site-branding {
  flex-direction: column;
  align-items: stretch;
}
@media (min-width: 1600px) {
  .elementor-kit-5 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-kit-5 h1 {
    font-size: var(--e-global-typography-8352cd5-font-size);
    line-height: var(--e-global-typography-8352cd5-line-height);
    letter-spacing: var(--e-global-typography-8352cd5-letter-spacing);
    word-spacing: var(--e-global-typography-8352cd5-word-spacing);
  }
  .elementor-kit-5 h2 {
    font-size: var(--e-global-typography-4353ebc-font-size);
    line-height: var(--e-global-typography-4353ebc-line-height);
    letter-spacing: var(--e-global-typography-4353ebc-letter-spacing);
    word-spacing: var(--e-global-typography-4353ebc-word-spacing);
  }
  .elementor-kit-5 h3 {
    font-size: var(--e-global-typography-d4f69a8-font-size);
    line-height: var(--e-global-typography-d4f69a8-line-height);
    letter-spacing: var(--e-global-typography-d4f69a8-letter-spacing);
    word-spacing: var(--e-global-typography-d4f69a8-word-spacing);
  }
  .elementor-kit-5 h4 {
    font-size: var(--e-global-typography-326df42-font-size);
    line-height: var(--e-global-typography-326df42-line-height);
    letter-spacing: var(--e-global-typography-326df42-letter-spacing);
    word-spacing: var(--e-global-typography-326df42-word-spacing);
  }
  .elementor-kit-5 h5 {
    font-size: var(--e-global-typography-49ea2e1-font-size);
    line-height: var(--e-global-typography-49ea2e1-line-height);
    letter-spacing: var(--e-global-typography-49ea2e1-letter-spacing);
    word-spacing: var(--e-global-typography-49ea2e1-word-spacing);
  }
  .elementor-kit-5 h6 {
    font-size: var(--e-global-typography-6524214-font-size);
    line-height: var(--e-global-typography-6524214-line-height);
    letter-spacing: var(--e-global-typography-6524214-letter-spacing);
    word-spacing: var(--e-global-typography-6524214-word-spacing);
  }
  .elementor-kit-5 button,
  .elementor-kit-5 input[type="button"],
  .elementor-kit-5 input[type="submit"],
  .elementor-kit-5 .elementor-button {
    font-size: var(--e-global-typography-87350ce-font-size);
    line-height: var(--e-global-typography-87350ce-line-height);
    letter-spacing: var(--e-global-typography-87350ce-letter-spacing);
    word-spacing: var(--e-global-typography-87350ce-word-spacing);
  }
  .elementor-kit-5 label {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-kit-5 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-5 textarea,
  .elementor-kit-5 .elementor-field-textual {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
}
@media (max-width: 1024px) {
  .elementor-kit-5 {
    --e-global-typography-primary-font-size: 74px;
    --e-global-typography-secondary-font-size: 21px;
    --e-global-typography-8352cd5-font-size: 60px;
    --e-global-typography-4353ebc-font-size: 45px;
    --e-global-typography-d4f69a8-font-size: 35px;
    --e-global-typography-326df42-font-size: 28px;
    --e-global-typography-49ea2e1-font-size: 24px;
    --e-global-typography-6524214-font-size: 16px;
    --e-global-typography-144b264-font-size: 24px;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-kit-5 h1 {
    font-size: var(--e-global-typography-8352cd5-font-size);
    line-height: var(--e-global-typography-8352cd5-line-height);
    letter-spacing: var(--e-global-typography-8352cd5-letter-spacing);
    word-spacing: var(--e-global-typography-8352cd5-word-spacing);
  }
  .elementor-kit-5 h2 {
    font-size: var(--e-global-typography-4353ebc-font-size);
    line-height: var(--e-global-typography-4353ebc-line-height);
    letter-spacing: var(--e-global-typography-4353ebc-letter-spacing);
    word-spacing: var(--e-global-typography-4353ebc-word-spacing);
  }
  .elementor-kit-5 h3 {
    font-size: var(--e-global-typography-d4f69a8-font-size);
    line-height: var(--e-global-typography-d4f69a8-line-height);
    letter-spacing: var(--e-global-typography-d4f69a8-letter-spacing);
    word-spacing: var(--e-global-typography-d4f69a8-word-spacing);
  }
  .elementor-kit-5 h4 {
    font-size: var(--e-global-typography-326df42-font-size);
    line-height: var(--e-global-typography-326df42-line-height);
    letter-spacing: var(--e-global-typography-326df42-letter-spacing);
    word-spacing: var(--e-global-typography-326df42-word-spacing);
  }
  .elementor-kit-5 h5 {
    font-size: var(--e-global-typography-49ea2e1-font-size);
    line-height: var(--e-global-typography-49ea2e1-line-height);
    letter-spacing: var(--e-global-typography-49ea2e1-letter-spacing);
    word-spacing: var(--e-global-typography-49ea2e1-word-spacing);
  }
  .elementor-kit-5 h6 {
    font-size: var(--e-global-typography-6524214-font-size);
    line-height: var(--e-global-typography-6524214-line-height);
    letter-spacing: var(--e-global-typography-6524214-letter-spacing);
    word-spacing: var(--e-global-typography-6524214-word-spacing);
  }
  .elementor-kit-5 button,
  .elementor-kit-5 input[type="button"],
  .elementor-kit-5 input[type="submit"],
  .elementor-kit-5 .elementor-button {
    font-size: var(--e-global-typography-87350ce-font-size);
    line-height: var(--e-global-typography-87350ce-line-height);
    letter-spacing: var(--e-global-typography-87350ce-letter-spacing);
    word-spacing: var(--e-global-typography-87350ce-word-spacing);
    padding: 16px 32px 16px 32px;
  }
  .elementor-kit-5 label {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-kit-5 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-5 textarea,
  .elementor-kit-5 .elementor-field-textual {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-kit-5 {
    --e-global-typography-primary-font-size: 54px;
    --e-global-typography-secondary-font-size: 18px;
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-8352cd5-font-size: 50px;
    --e-global-typography-4353ebc-font-size: 40px;
    --e-global-typography-d4f69a8-font-size: 32px;
    --e-global-typography-326df42-font-size: 26px;
    --e-global-typography-49ea2e1-font-size: 22px;
    --e-global-typography-aa06a68-font-size: 16px;
    --e-global-typography-c7139a9-font-size: 16px;
    --e-global-typography-6bb33ac-font-size: 16px;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-kit-5 h1 {
    font-size: var(--e-global-typography-8352cd5-font-size);
    line-height: var(--e-global-typography-8352cd5-line-height);
    letter-spacing: var(--e-global-typography-8352cd5-letter-spacing);
    word-spacing: var(--e-global-typography-8352cd5-word-spacing);
  }
  .elementor-kit-5 h2 {
    font-size: var(--e-global-typography-4353ebc-font-size);
    line-height: var(--e-global-typography-4353ebc-line-height);
    letter-spacing: var(--e-global-typography-4353ebc-letter-spacing);
    word-spacing: var(--e-global-typography-4353ebc-word-spacing);
  }
  .elementor-kit-5 h3 {
    font-size: var(--e-global-typography-d4f69a8-font-size);
    line-height: var(--e-global-typography-d4f69a8-line-height);
    letter-spacing: var(--e-global-typography-d4f69a8-letter-spacing);
    word-spacing: var(--e-global-typography-d4f69a8-word-spacing);
  }
  .elementor-kit-5 h4 {
    font-size: var(--e-global-typography-326df42-font-size);
    line-height: var(--e-global-typography-326df42-line-height);
    letter-spacing: var(--e-global-typography-326df42-letter-spacing);
    word-spacing: var(--e-global-typography-326df42-word-spacing);
  }
  .elementor-kit-5 h5 {
    font-size: var(--e-global-typography-49ea2e1-font-size);
    line-height: var(--e-global-typography-49ea2e1-line-height);
    letter-spacing: var(--e-global-typography-49ea2e1-letter-spacing);
    word-spacing: var(--e-global-typography-49ea2e1-word-spacing);
  }
  .elementor-kit-5 h6 {
    font-size: var(--e-global-typography-6524214-font-size);
    line-height: var(--e-global-typography-6524214-line-height);
    letter-spacing: var(--e-global-typography-6524214-letter-spacing);
    word-spacing: var(--e-global-typography-6524214-word-spacing);
  }
  .elementor-kit-5 button,
  .elementor-kit-5 input[type="button"],
  .elementor-kit-5 input[type="submit"],
  .elementor-kit-5 .elementor-button {
    font-size: var(--e-global-typography-87350ce-font-size);
    line-height: var(--e-global-typography-87350ce-line-height);
    letter-spacing: var(--e-global-typography-87350ce-letter-spacing);
    word-spacing: var(--e-global-typography-87350ce-word-spacing);
  }
  .elementor-kit-5 label {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-kit-5 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-5 textarea,
  .elementor-kit-5 .elementor-field-textual {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
